[2018-04-30 13:02] justinyoo opened #1 "no nupkg built"
![image](https://user-images.githubusercontent.com/1538528/39428405-942a405a-4cca-11e8-9dcd-905a3c65be7b.png)

[2018-05-02 00:02] #1 closed

[2019-02-03 12:12] justinyoo opened #2 "Support custom attributes for Logic App custom connector"
* https://docs.microsoft.com/en-us/connectors/custom-connectors/openapi-extensions

[2019-02-03 12:16] justinyoo opened #3 "Open API document auth key auto assignment"
Currently, `OpenApi__ApiKey` environment variable is required to access to the Open API document HTTP trigger. It would be handy if this API key can be internally fetched, rather than externally provided.

[2019-02-03 12:17] justinyoo opened #4 "Add missing Open API specs"

[2019-02-03 12:29] justinyoo opened #5 "Separate Configuration.Json from Open API"
The JSON configuratioin is not directly relevant to Open API extension. This should be split into a separate package.

[2019-02-04 12:40] wobba opened #6 "Auto-add functions to expose swagger/doc"
It would be very useful when adding the nuget package `Aliencube.AzureFunctions.Extensions.OpenApi` that it automatically added functions for `RenderOpenApiDocument` and `RenderSwaggerUI`.

This would make it a lot easier to add this to existing projects instead of cloning the sample functions and merging with existing code.

* Add nuget
* Annotate
* Run
* :-)

[2019-02-05 12:35] #5 closed

[2019-02-09 20:58] justinyoo commented on #5
https://github.com/aliencube/AzureFunctions.Extensions/releases/tag/swagger-1.2.0

[2019-02-09 21:00] justinyoo commented on #2
Completed:
* [x] summary
* [x] x-ms-summary
* [x] description
* [x] x-ms-visibility

Won't do:
* [ ] x-ms-dynamic-values
* [ ] x-ms-dynamic-schema

[2019-02-09 21:00] #2 closed

[2019-02-11 12:45] justinyoo opened #7 "Refactor Document, DocumentHelper, SwaggerUI"

[2019-02-11 21:03] spaelling opened #8 "Working examples"
I made a comment on your [blogpost](https://devkimchi.com/2019/02/02/introducing-swagger-ui-on-azure-functions/) - not there anymore, perhaps you need to approve it first.

Just incase you miss it I will repeat it here.

I was unable to follow the instructions in this guide, ex. ```var settings = new AppSettings();``` is that coming from the nuget package?

I then had a look at the Github project

[2019-02-12 07:32] justinyoo commented on #8
@spaelling  Thanks for raising the issue. You got the point!

1. I recently refactored the sample code for both V1 and V2 to be reused. It has brought about some misalignment with the document. I’ll chase that up as soon as possible.

1. The `BuildAsync()` method has also been updated during the activity above, but this hasn’t been released yet. I’m going to release this with #7 . In a nutshell, c

[2019-02-12 07:35] justinyoo commented on #6
@wobba Thanks for the suggestion! As I mentioned in my blog post, it’s really a good idea. I’ll find a way to hook this.

[2019-02-12 07:40] justinyoo commented on #3
Currently Azure Functions runtime doesn’t support the feature - getting the auth key of a function inside another function.

Managed Identity might be the solution, but again, Azure Function doesn’t provide a capability to check whether Managed Identity is turned on or off.

Therefore, until the Azure Function supports this feature, it won’t be happening.

[2019-02-12 07:40] #3 closed

[2019-02-12 07:56] spaelling commented on #8
Ok, so the example in [Aliencube.AzureFunctions.FunctionAppV2](https://github.com/aliencube/AzureFunctions.Extensions/tree/dev/src/Aliencube.AzureFunctions.FunctionAppV2) does not work yet? When copying that code I get the error

[code]

[2019-02-12 08:37] justinyoo commented on #8
Can you check out the `master` and run if it’s working?

[2019-02-12 09:31] spaelling commented on #8
Sort of. If I compile `Aliencube.AzureFunctions.FunctionAppCommon` and `Aliencube.AzureFunctions.Extensions.OpenApi` and copy the dll to `Aliencube.AzureFunctions.FunctionAppV2`, add the nuget package for `Aliencube.AzureFunctions.Extensions.DependencyInjection` to csproj and it ends up looking like this it works

[code]

That just makes it even weirder that my other project does not work as that

[2019-02-12 09:36] spaelling commented on #8
I had 2 references to `Aliencube.AzureFunctions.Extensions.OpenApi` - removing the `PackageReference` and it works. I would expect some sort of warning or error, but there was none.

`<PackageReference Include="Aliencube.AzureFunctions.Extensions.OpenApi" Version="1.2.0" />`
and
`<Reference Include="Aliencube.AzureFunctions.Extensions.OpenApi"/>`

Still great work. I will test again in the next ve

[2019-02-12 10:03] spaelling commented on #8
It does not render swagger.json. Any idea on how to go about debugging this?

[2019-02-12 10:39] spaelling commented on #8
I found the issue.

In `GetOpenApiOperation` I amended the code to

[code]

I guess this is because I do not have all functions (operations) annotated. In that case this throws an exception because op is `null`

[code]

[2019-02-12 10:40] justinyoo commented on #8
If you've checked out the `master` branch, `Aliencube.AzureFunctions.Extensions.FunctionAppCommon` shouldn't exist, because it only stays in the `dev` branch. As of today, the `master` branch is a snapshot of `swagger-1.3.0`, which is the latest release of [`Aliencube.AzureFunctions.Extensions.OpenApi` 1.3.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.3.0).

If yo

[2019-02-12 11:37] spaelling commented on #8
not sure why I have cloned the dev branch. Did not even realize. You may still need to add some code to

[DocumentHelper.cs](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/src/Aliencube.AzureFunctions.Extensions.OpenApi/DocumentHelper.cs#L81)

[code]

I will have a look at the master branch. The link on Github points to the dev branch it seems. So will have to instruct git to spec

[2019-02-12 11:46] justinyoo commented on #8
Thanks for the code snippet. I'll definitely have a look.

As the `master` branch to me is really a snapshot of each library release, nothing more than that, and the `dev` branch reflects the latest update and/or activities of this repository. Therefore, setting the `dev` branch as a default view makes much more sense to me, and probably others who are familiar with branching strategy.

Anyway, I'

[2019-02-12 11:46] #8 closed

[2019-02-12 11:49] justinyoo opened #9 "DocumentHelper null check"
As raised in the issue #8 , `DocumentHelper` needs null value handling.

---

[code]

[2019-02-12 11:58] spaelling commented on #8
Fine by me. We worked it out after all, and I have a better understanding of how all of this works. I have no experience with Swagger other than a consumer of APIs.

Good point with the branching. Maybe put a disclaimer on top of the readme.md that the default branch is the dev branch?

[2019-02-12 12:00] spaelling commented on #9
Could also work as if the given function had an `[OpenApiIgnore]` annotation?

[2019-02-13 06:23] spaelling commented on #6
Would also be nice to get some scaffolding from what can be found in [FunctionAppCommon](https://github.com/aliencube/AzureFunctions.Extensions/tree/dev/src/Aliencube.AzureFunctions.FunctionAppCommon)
Also I see no issue in including some samples, people can always delete the samples. It just helps getting up and running faster with this.

[2019-02-13 13:23] AlexPirtea opened #10 "Swagger file generation fails for arrays"
Aliencube.AzureFunctions.Extensions.OpenApi  version: 1.3.0

When request DTOs contain arrays the following error gets thrown:

`[13.02.2019 13:16:28] Executed 'RenderSwaggerDocument' (Failed, Id=fb5e9696-1da8-4267-a434-696e6b1fad40)
[13.02.2019 13:16:28] System.Private.CoreLib: Exception while executing function: RenderSwaggerDocument. Aliencube.AzureFunctions.Extensions.OpenApi: Index was outsid

[2019-02-14 05:09] justinyoo commented on #10
@AlexPirtea Thanks for raising this issue!

Have you tried `List<int>` instead? If that works, please use this in the meantime. I'll fix this is ASAP.

[2019-02-14 11:42] justinyoo opened #11 "AddLogger method for IFunction<TLogger>"
it currently accepts logger through property injection. Instead of doing that, it can be added through method and chain it like:

[code]

By doing so, the function can be used for both instance methods and static methods.

[2019-02-18 10:37] Ozzian commented on #10
To help a bit: The problem is in OpenApiSchemaExtensions class, ToOpenApiSchema method.

`type.GetGenericArguments()[0];` throws exception for regular array. To fix this you can use `GetElementType()`.

working example.
[code]

[2019-02-18 15:42] AlexPirtea commented on #10
Lists work

[2019-02-26 12:07] object opened #12 "How is AppSettings class implemented?"
Can you explain or perhaps extend examples with the implementation of AppSettings? Since there is no such class on .NET Core it can be useful to provide the implementation.

Thank you for a great library.

[2019-02-26 12:36] object commented on #12
I've found implementation of this class in your source. Closing the issue.

[2019-02-27 20:34] justinyoo commented on #12
@object Thanks for pointing out this. Let me have a look whether I can squeeze this implementation into the library as a base class or not.

[2019-02-28 12:38] justinyoo commented on #10
@AlexPirtea I've fixed to allow array, on top of `List<T>`. This will be released soon. Thanks for waiting.

[2019-02-28 12:58] #9 closed

[2019-02-28 12:58] #10 closed

[2019-02-28 13:59] justinyoo opened #13 "Update Function App sample to avoid static modifier"
* https://devkimchi.com/2019/02/22/performing-constructor-injections-on-azure-functions-v2/

[2019-03-04 11:06] justinyoo opened #14 "Update Module to implement IWebJobsBuilder for V1"
The `Module` class currently invokes `Load(IServiceCollection services)` method. This might need to be sync'd to use the `Configure(IWebJobsBuilder builder)` method.

[2019-03-07 12:43] SplitThePotJohan opened #15 "Support constraints in route"
When generating OpenApi/Swagger for my Azure Functions I noticed that your library does not support routes with constraints in the interpolation.
`Route = "product/{id:int}`

I decorate the method with:
`[OpenApiParameter("id", In = ParameterLocation.Path, Required = true, Type = typeof(int))]`

But in SwaggerUI the route displays as `.../product/{id:int}` instead of expected `.../product/{id}`.
A

[2019-03-08 04:54] #13 closed

[2019-03-08 04:56] #11 closed

[2019-03-08 05:00] justinyoo commented on #15
@SplitThePotJohan Thanks for the issue! Would you be able to share codes, if you don't mind? I'm not sure I understood this issue.

[2019-03-08 08:45] SplitThePotJohan commented on #15
I cant share my code right now, but I can walk you through it.

Create a function like this: (note: simplified method body)
[code]
Then I used your sample to setup OpenApi/Swagger.
E.g. `RenderOpenApiDocument`-method and `RenderSwaggerUI`-method

When I run the SwaggerUI, the route displays as `GET /api/{category:regex(^[A-Z]{{3,}}$)}/product/{id:int}` and a similar route using for instance Swashb

[2019-03-12 23:46] jtawil777 opened #16 "DocumentHelper.cs - missing "Description" in swagger output"
Your library is great! Thank you for putting it together. This function is missing Description = op.Description which causes a validation error when importing the swagger.json into Azure to create a Logic App Custom Connector. This is in the file DocumentHelper.cs around line 90.
[code]

[2019-03-13 12:10] justinyoo commented on #16
@jtawil777 Thanks for piling this issue! I'll have a look. This should have been included.

[2019-03-13 12:24] #16 closed

[2019-03-14 09:37] Hussamalsh opened #17 "Swagger = how to get the value in path product/{id}/table/name"
Hi
I am trying to get the value from the path product/{id}/table/name in swagger.

Code:
[OpenApiParameter("{id}", In = ParameterLocation.Path, Required = true, Type = typeof(string), Description = "product id", Visibility = OpenApiVisibilityType.Advanced)]

[2019-03-14 12:55] SplitThePotJohan commented on #17
@Hussamalsh I think you should omit the curly brackets.
Like this:
[code]

[2019-03-14 13:48] justinyoo commented on #15
@SplitThePotJohan Thanks for the elaboration! Let me take some time to have a look and get back to you. Unfortunately, I've got full capacity for other personal priorities, I'm afraid I can't take this sooner.

[2019-03-14 20:20] Hussamalsh commented on #17
i did that before doesn't work, but tried again and now it's works :)

[2019-03-14 20:21] #17 closed

[2019-03-19 17:54] justinyoo commented on #15
@SplitThePotJohan was able to reproduce this on my side.

Basically, for this defect, if the UI replaces:

    {category:regex(^[A-Z]{{3,}}$)}/product/{id:int}

with

    {category}/product/{id}

it would solve this issue. Do you think it's OK?

[2019-03-20 05:36] justinyoo commented on #12
@object I've listed another package for this:

https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.Configuration.AppSettings

And based on this, the Extensions.OpenApi has been updated to 1.4.2.

[2019-03-20 05:36] #12 closed

[2019-03-20 05:45] object commented on #12
Perfect! Thanks a lot!

[2019-03-20 10:49] spaelling opened #18 "Annotate properties in request models"
Is it possible to annotate properties in the request models to ex. describe if the property is mandatory or not. I think this is already in the OpenAPI spec.

[2019-03-20 13:01] SplitThePotJohan commented on #15
@justinyoo yes, I think that would solve the issue.
I suppose this change will enable the functionality for "Try it out" to work as expected?
And of course the same fix should be applied for the generation of e.g `swagger.json`

[2019-03-20 17:01] justinyoo commented on #15
@SplitThePotJohan Yes, that's the plan. I've made some changes for this, and it's staying at the `feature/15-route-constraint` branch. You can try it, if you like. It needs more polish-up, though.

[2019-03-20 17:14] justinyoo commented on #18
@spaelling In general, yes, if you use `JsonProperty(...)` from Json.NET. Is that what you're looking for, or something else? If you want to explicitly show them, I don't think it's implemented yet, as this is optional from the spec. However, it's in our backlog #4 .

[2019-03-22 13:24] spaelling commented on #18
Thanks, I will try it out and let you know if that was my meaning. It looks promising.

[2019-03-25 18:27] spaelling commented on #18
That did not quite do what I was hoping for. We will be awaiting #4

[2019-03-25 18:27] #18 closed

[2019-03-28 17:28] VictorioBerra opened #22 "Does this expose itself to Logic Apps?"
EDIT: Removed the questions that are only related to V1.

Will this automatically expose itself to Logic Apps? Maybe the endpoint in the function needs to have a special name?

[2019-03-29 00:26] justinyoo opened #23 "Remove Constructor Injection from the sample"
As of current runtime release, `2.0.12353.0` has pulled out the constructor injection feature. Therefore, the sample used here needs to reflect this.

[2019-03-29 00:32] justinyoo commented on #22
@VictorioBerra Thanks for the question! It's already answered by itself, though.

That's something both Azure Functions team and Logic Apps team work together, as this more towards their architectural decision. If you want to expose Azure Functions Swagger, you better consider a custom connector. That works.

[2019-03-29 00:33] #22 closed

[2019-03-29 01:35] VictorioBerra commented on #22
Gotcha. So it sounds like Logic Apps **wont** pick up the document and start assisting me with suggestions about my functions response schema.

[2019-04-10 18:32] bartdk-be commented on #4
* small bump
Any plans on adding the missing items to your nuget package ?

[2019-04-11 12:15] justinyoo commented on #4
@bartdk-be I haven't decided which one to do first. Do you have anything in mind to add first?

[2019-04-12 14:16] #23 closed

[2019-04-12 14:16] justinyoo commented on #15
Fixed

[2019-04-12 14:16] #15 closed

[2019-04-12 14:44] justinyoo commented on #6
Also consider this: https://devkimchi.com/2019/02/02/introducing-swagger-ui-on-azure-functions/#comment-4414226775

[2019-04-12 23:39] justinyoo commented on #4
As mentioned at #18, request/response payload "required" property needs to be added first.

[2019-04-12 23:43] justinyoo opened #24 "Add optional Open API spec - Schema"
* Follow-up of #4 and #18
* Implement Open API 2.0 [spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaObject) - SchemaObject
* Implement Open API 3.0.1 [spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#schemaObject) - SchemaObject

[2019-04-15 09:49] hf-kklein opened #26 "OpenApiParameter with enum type not rendered correctly"
Using
[code]
with
[code]
leads to an OpenApi-Json:
[code]
but should render as
[code]
and thus allow the use of `ONE_OPTION` or `ANOTHER_OPTION` in the Swagger UI instead of just integer values.

[2019-04-15 11:03] tjgalama opened #27 "Section SecurityRequirements is missing"
When added security scheme's SwaggerUI also requires a `security` section that references to the security scheme like:
[code]
As a result the entered authentication is NOT applied when executing the call's. (in this case; the x-function-key missing in the header of the request).
The fix is easy add the following to the Document.Build(..)
[code]

[2019-04-15 12:02] justinyoo commented on #26
@hf-kklein Thanks for the issue! I'll have a look.

[2019-04-15 12:03] justinyoo commented on #27
@tjgalama Thanks for the issue! I'll have a look.

[2019-04-16 06:52] tjgalama commented on #27
Ahum, Although it would be nice to have _document.SecurityRequirements somehow extendable, I noticed that my fix to add all scheme's by default, is not always preferred.
In my case it was even better to add the referenced security scheme's to the Security property of the individual OpenApiOperation objects.

[2019-04-18 05:28] scubaracer opened #28 "host.json' was not found and is not optional."
Hi, When i depoy the latest version of github, and deploy.
I get host.json' was not found and is not optional. when calling the swaggerui function.

2019-04-18T05:26:34  Welcome, you are now connected to log-streaming service.
2019-04-18T05:26:45.424 [Info] Function started (Id=57518a20-87d2-4da6-a8dd-c388b379057d)
2019-04-18T05:26:45.924 [Error] Exception while executing function: RenderSwaggerUI

[2019-04-21 23:36] justinyoo commented on #28
@scubaracer Thanks for your comment!

As of the version [`1.5.1`](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.5.1) expects that the `host.json` physically exists, although it contains nothing. The default content of `host.json` is:

[code]

[2019-04-21 23:38] justinyoo commented on #28
Let me figure out how to set this as an optional.

[2019-04-21 23:59] justinyoo commented on #27
@tjgalama The security scheme appears on both operation level and root level.

If I understand your issue correctly, originally you prefer putting the security scheme at the root level, but then suggested to put it on the operation level. Is that correct?

And I think, if we implement, this scheme should appear on both levels &ndash; one for host key and the other for function key. How does this s

[2019-04-22 00:04] justinyoo commented on #26
@hf-kklein Can this `DisplayAttribute` sort out your issue?

https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/src/Aliencube.AzureFunctions.Extensions.OpenApi/Attributes/DisplayAttribute.cs

[code]

Let me know if this helps.

[2019-04-23 05:09] hf-kklein commented on #26
@justinyoo
Sorry, it didn't help. The OpenApi JSON rendered using the DisplayAttribute on enum values does still require an integer:
[code]

[2019-04-23 11:44] justinyoo commented on #26
Err, I see. Apparently, it only works for the other things. I'll have a further look.

[2019-04-23 12:19] JoschaMetze opened #29 "Swagger generation for JObject fails (due to IDictionary cast)"
If a model class for an operation contains a JObject property (or JObject itself) the generation fails with an index out of bounds exception. I suppose this is linked to ```  schema.AdditionalProperties = type.GetGenericArguments()[1].ToOpenApiSchema();```(line 61 of OpenApiSchemaExtensions.cs) as JObject implements IDictionary but has no generic arguments itself.

I suggest either checking for JO

[2019-04-23 22:25] seertenedos opened #31 "Add a minimal sample"
Your original blog post made things mostly simple but the samples you currently have rely on you needing DI and another project that is not a nuget just to add swagger. It seems overly complex just to add open API and swagger compared to the initial version.

I would have thought this could all be done with a single sample class that contains all needed functions and some nuget references. Bonus w

[2019-04-24 00:15] seertenedos opened #32 "Sample for doing auth for functions with "User" auth"
It would be great to see a sample of how to do user auth using Azure AD for example. To do this currently I think you need to extend the formatter that is passed into the document but I am still playing to work it all out. It would be great if there was an easy way to configure it.

[2019-04-26 08:00] hf-kklein commented on #31
I second this. Using the instructions in [openapi.md](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md) seems overly complex to start with.

[2019-04-26 12:32] justinyoo commented on #31
This is related to #6

[2019-04-26 12:32] justinyoo commented on #31
@seertenedos Thanks for your comment! I'm currently working on this at #6 .

[2019-04-26 12:38] justinyoo commented on #32
@seertenedos Would you be able to elaborate, please? My limited imagination doesn't allow me to look further.

[2019-04-26 12:39] justinyoo commented on #29
@JoschaMetze Thanks for the comment! Would you give me some example code snippet so that I can reproduce the error on my side, please?

[2019-04-29 12:19] ChristianWeyer opened #34 "Type List for OpenApiPayloadAttribute not mapped correctly"
Hi,

I have a Function like this, returning a `List<Product>`:
[code]

The Product type looks like this:
[code]

The JSON rendered for this response type is this:
[code]
... which is not really what I expected ;-)
Shouldn't there be a `Product` type and then a list/array of `Product` in the JSON?

Thanks!

[2019-05-01 19:43] aleccaputo commented on #32
@justinyoo @seertenedos
Not sure if this is exactly what you're referring to, but it would be nice to be able to define a different OpenApiSecurityScheme on the root of the Document other than "x-functions-key". Supporting Bearer tokens, for example.

[2019-05-01 19:50] aleccaputo opened #35 "Give Ability to Configure Security Scheme"
It would be nice to be able to define a different OpenApiSecurityScheme on the root of the DocumentHelper other than "x-functions-key".
This would add support for custom bearer auth, for example.
See DocumentHelper.cs line 172

[2019-05-01 20:18] seertenedos commented on #32
Sorry for the slow reply. I just worked out how user based Auth works and
instead it is all about using anonymous on the function but changing a
setting in Azure to force auth. If you set it to user it fails even if they
are authenticated.

Due to this you can close this as not needed.

On Thu, 2 May 2019, 5:43 am Alec Caputo, <notifications@github.com> wrote:

[2019-05-07 22:50] andrebts commented on #28
I'm having the same issue when publishing to Azure on a V1 environment.

[2019-05-09 11:42] JoschaMetze commented on #29
Hey, of course, minimal repro:
**does work**
[code]
**does not work**
[code]

[2019-05-13 11:28] Jankowski-J opened #36 "DateTimeOffset in OpenApiRequestBody causes StackOverflowException when rendering JSON"
When providing type for `OpenApiRequestBodyAttribute` in constructor, if the type has `DateTimeOffset` as one of the fields, an attempt to render the JSON causes `StackOverflowException`.

Sample function with such request type:
[code]

Sample JSON render:
[code]

[2019-05-13 14:22] Jankowski-J commented on #36
Investigated the issue and found out that the code goes into infinite recursion in `ToOpenApiSchema` in `OpenApiSchemaExtensions`.
`DateTimeOffset` is considered non-simple type and it's properties are iterated. It has `Now` property, which is of course the `DateTimeOffset` type and the infinite recursion is over there.

[2019-05-20 02:30] justinyoo commented on #36
@Jankowski-J Thanks for issue raised! I'm definitely starting to work on the PR #33 and get back to you soon. Apology for the delay.

[2019-05-20 02:31] justinyoo commented on #35
@aleccaputo Thanks for the issue raised. I'll have a look whether this needs to be in our scope or not.

[2019-05-20 02:32] justinyoo commented on #34
@ChristianWeyer Thanks for raising this issue! I'll have a look and get back to you.

[2019-05-20 02:33] justinyoo commented on #32
@seertenedos Thanks for the clarification!

[2019-05-20 02:33] #32 closed

[2019-05-28 22:55] DarinMacRae opened #38 "Generated error: operationId is repeated"
This may or may not be a bug but since I cannot figure out if I am doing anything wrong I thought I'd create an issue so a solution can be shared.

I have a very simple app with two routes.
 - foo
 - foo/{id}

Why do I get this error generated in the Swagger UI?

[code]

[2019-05-29 05:33] hf-kklein commented on #38
Could you please post the function signatures and attributes, too?

[2019-05-30 14:24] justinyoo commented on #29
@JoschaMetze Both `JObject` and `Dictionary` can't be declared at the root level like the example code above, because they don't have name. But both can be a property of a class like:

https://github.com/aliencube/AzureFunctions.Extensions/blob/75c770c4b14a0bfbdedb979de49c50ad9cc3715c/src/Aliencube.AzureFunctions.FunctionAppCommon/Models/SampleModel.cs#L53

https://github.com/aliencube/AzureFuncti

[2019-05-30 14:28] justinyoo commented on #29
@JoschaMetze I'll close this for now. If you need further discussion, please feel free to open this again.

[2019-05-30 14:28] #29 closed

[2019-05-31 03:57] glennular opened #39 "New JObject support is generating Swagger Error"
I have pulled the latest code and see the Error iIincluded below, when expanding the method.

Related to #29

[code]

![image](https://user-images.githubusercontent.com/2328657/58680541-c72ea280-832d-11e9-9ea3-a5d80f3199a0.png)

[2019-05-31 05:17] justinyoo commented on #39
@glennular I just pulled the latest code as like fresh install, and ran the sample app that contains both `JObject` and `Dictionary<string, int>` as the response payload. But it works fine to me.

![image](https://user-images.githubusercontent.com/1538528/58683246-17057c00-83b7-11e9-8b21-ff5a0c41b628.png)

Would you double check whether you have the latest commit from the `dev` branch?

[2019-05-31 05:18] justinyoo commented on #39
Ahh, I got the error. I should remove both response payload as this is not acceptable, as mentioned in #29

[2019-05-31 05:27] justinyoo commented on #39
@glennular Commented out those two response payload definition lines.

[2019-05-31 05:27] #39 closed

[2019-05-31 07:03] hf-kklein commented on #34
The problem also applies for list types in the `OpenApiRequestBody`.
@ChristianWeyer I'd suggest to change the title of this issue to 'Type List<T> for OpenApiPayloadAttribute not mapped correctly'.

[2019-05-31 07:50] justinyoo commented on #34
I’m not too sure if this boils be with `Product` or not. What if the type is `List<int>`?

I’ve excluded `JObject` and `Dictionary<>` from being a root level payload type, at #29. I think so does the `List<>`, too.

Kind regards,

Justin Yoo | Microsoft MVP | aliencube.org | devkimchi.com

[2019-05-31 08:42] hf-kklein commented on #34
By saying so, do you consider this issue as a missing feature/bug or being out of scope?

IMHO returning list types is a valid use case and the generated OpenApi.json should render somehow like
[code]
and include a schema derived from `class Product`.

[2019-05-31 11:15] glennular commented on #34
The support for List<> is part of #37.

[2019-06-01 07:54] #34 closed

[2019-06-01 13:35] justinyoo commented on #29
Now both `JObject` and `JToken` are properly rendered.

[2019-06-01 13:36] justinyoo commented on #29
@JoschaMetze Now both `JObject` and `JToken` are properly rendered.

[2019-06-02 22:51] justinyoo commented on #34
@ChristianWeyer This has been fixed and released to [1.5.2](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.5.2)

[2019-06-03 16:19] ChristianWeyer commented on #34
Sorry, this does not yet seem to work?

I am using 1.5.2 now.
The Swagger JSON now looks like this:
[code]

As you can see, there is no definition for Product in there.
This seems to be missing - and thus the UI breaks as well:

![image](https://user-images.githubusercontent.com/888718/58817414-f5f99100-862b-11e9-82e8-d5b5fecbc0b7.png)

Any idea what could be wrong here? @justinyoo @glennular
Than

[2019-06-04 11:31] DibranMulder opened #40 "Schema response body generation doesn't work with Lists and Generics"
The response bodies for Generic T's are not handled correctly. When you have for instance a `PagedViewModel<MessageViewModel>` class then the schema will not be generated into the OpenApi definitions.

Take for example this functions definition
[code]

The generated OpenAPI definition is this:
[code]
The schemas property in the components is missing. Same goes for using List<T> or IENumerable<T>.

[2019-06-04 11:48] DibranMulder opened #41 "Sample doesn't compile"
The OpenAPI sample states that we have to add this function to get a SwaggerUI
[code]
However `BuildAsync` doesn't accept arguments, and yields a Task which should be awaited. It should be:
[code]

[2019-06-05 08:58] JoschaMetze commented on #29
Thanks for fixing that 👍

[2019-06-05 09:06] DibranMulder commented on #40
I think the bug is in `GetOpenApiSchemas`, it filters out Array's. But what if my type is only used in lists? Then it isn't part of the schema. In my opinion these things have to be fixed:

1. Use the `IsOpenApiArray` check to determine if the type is an array.
2. If its an Array then the ElementType or the Generic SubType has to be selected. Just like in the `ToOpenApiSchema` method. (`type.GetEl

[2019-06-05 13:13] glennular commented on #40
I ran into the same issue when typing to adopt the new release.

Fixed in #42

[2019-06-07 18:39] rychlym commented on #28
(Today first time I have just meet with your great product - so might be a different issue)  I am using V1 environment ,  In debug -AzureFunctionTools cli  no problem but hosted in the azure loked  like try to search in different folder:

From exception log:
FileNotFoundException : The configuration file 'host.json' was not found and is not optional. The physical path is 'D:\local\Temporary ASP.NE

[2019-06-11 17:27] andrebts commented on #28
Hello @rychlym, I had the same issue on using Azure Functions V1 with AlienCube. To solve the issue I had to download the Aliencube project and add Aliencube.AzureFunctions.FunctionAppCommon and Aliencube.AzureFunctions.Extensions.OpenApi to my solution, referencing it instead of the nuget package. After this I changed Aliencube.AzureFunctions.Extensions.OpenApi -> Configurations -> OpenApiAppSett

[2019-06-12 02:53] justinyoo commented on #40
@DibranMulder Can you show me the class definition of `PagedViewModel<T>` and `MessageViewModel`?

[2019-06-12 02:54] justinyoo commented on #40
Apparently @glennular 's PR #42 has sorted out the issue at a certain level, but I'm not sure whether it's solved your issue or not.

[2019-06-12 02:58] justinyoo commented on #38
@DarinMacRae Is it the same issue as #15 ?

[2019-06-12 04:44] justinyoo commented on #28
@scubaracer @rychlym @andrebts This has been fixed with the version [1.5.3](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.5.3).

Would you please check this out on your side?

[2019-06-12 05:12] justinyoo commented on #41
@DibranMulder Thanks for the issue! Yes, you're right. The `BuildAsync()` method doesn't need arguments. The code itself is fine but the document is wrong. I'll fix this.

[2019-06-12 05:14] justinyoo commented on #41
Document updated.

[2019-06-12 05:14] #41 closed

[2019-06-12 06:36] DibranMulder commented on #40
[code]
And also for lists it doesn't work. So any List<T> doesn't add a schema definition.
[code]
However when `T` is added as root response body then it works again.
[code]
I think this is because all generic types are filtered out.

[2019-06-12 07:21] justinyoo commented on #36
This has been fixed in #33 and merged. It will be released soon after a few clean-up.

[2019-06-12 07:21] #36 closed

[2019-06-12 07:27] justinyoo commented on #40
This has been fixed in 1.5.3. Can you double check at your end?

[2019-06-12 07:28] #28 closed

[2019-06-12 07:30] justinyoo commented on #26
@hf-kklein This has been fixed by #33 and will be released soon.

[2019-06-12 07:30] #26 closed

[2019-06-12 09:16] DarinMacRae commented on #38
@justinyoo I don't think so. I'm not using any route constraints. The example really is as simple as I posted. Since I opened the issue I've seen this issue again on multiple projects. I've just been ignoring it since the UI still generates. It's just annoying that it complains and I don't know why.

[2019-06-12 11:15] DibranMulder commented on #40
Can confirm that Lists work.
![image](https://user-images.githubusercontent.com/5592416/59347050-fcff5e00-8d13-11e9-830a-05d7fa40c158.png)

However Generic<T> is still broken.
![image](https://user-images.githubusercontent.com/5592416/59346974-d04b4680-8d13-11e9-8acc-0f8208802267.png)
![image](https://user-images.githubusercontent.com/5592416/59346997-db05db80-8d13-11e9-89d8-359e150cd969.png)

[2019-06-12 11:46] justinyoo commented on #40
@DibranMulder Yes, the generic still needs more work. Thanks for confirming the `List<T>` bit!

[2019-06-20 10:28] richardhauer commented on #35
An update for this would be great.  It's a bit harsh to dictate that all APIs are using the authentication scheme you nominate.  Azure Function Keys are not the only authentication system available to Azure Functions - they're not even the preferred system!

See [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#authorization-keys](https://docs.microsoft.com/en

[2019-06-20 10:30] richardhauer opened #43 "An option to provide sample responses would be great"
Looks like the system auto-generates response samples but for a commercial system we are happy to supply meaningful samples.

[2019-06-21 15:51] otryshko opened #44 "Merging dev to master and cutting new nuget"
Hello,

There is a bug which got fixed in dev but haven't made it to master (and nuget) yet - when (if?) is dev going to be merged to master and new nuget cut? Or should I fork the repo, merge/publish a different nuget?

[2019-07-01 10:01] magnarw opened #46 "Option to not include "function code" as default parameter"
The current implementation of DocumentHelper includes "function code" as a parameter as long as the trigger does not have anonymous auth level.
I would be great if clients of the DocumentHelper could override this behavior as the function code is unwanted as part of the api doc in certain cases.  We use this library on functions that we publish directly to api management were we have other authent

[2019-07-02 16:32] adamhwang commented on #36
Appears to still be an issue in 1.5.3

[2019-07-02 19:10] Jankowski-J commented on #36
@adamhwang just confirmed it - `DateTimeOffset` fails to render OpenApi definition.

@justinyoo I request re-opening the issue.

[2019-07-03 09:27] otsomkalov commented on #46
Temporary solution: create class inherited from DocumentHelper
[code]
and then add to services:
`                .AddTransient<IDocumentHelper, CustomDocumentHelper>()
`

[2019-07-03 09:42] otsomkalov opened #47 "Add support to multiple response type (support oneof, anyof, allof)"
Swagger: https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/
Example: let us have two response definitons:
[code]
allow to do something like below where we can allow several types for response
[code]

[2019-07-08 23:23] justinyoo commented on #43
@richardhauer Thanks for the suggestion! I'll have a look and start working based on priority.

[2019-07-08 23:27] justinyoo commented on #40
@DibranMulder The generics has been fixed and released to [NuGet](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.5.4). Thanks for your patience!

[2019-07-08 23:27] #40 closed

[2019-07-08 23:27] justinyoo commented on #44
@otryshko Thanks for your patience! A new release (1.5.4) has been released to [NuGet](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.5.4).

[2019-07-08 23:27] #44 closed

[2019-07-08 23:28] justinyoo commented on #36
@Jankowski-J @adamhwang Thanks for the patience! A new release (1.5.4) has been published to [NuGet](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.5.4).

[2019-07-11 13:31] Stutben opened #48 "Generic Types with simple types as subtype generate errors on swagger UI"
Hi,

really appreciate your work!
I think I found an issue when you use a generic type as in ResponseBody/RequestBody attribute.
I used a generic type with an Integer or String as subtype and I got the following error when I click on the corresponding schema on the swagger UI

![SchemaMissingError](https://user-images.githubusercontent.com/23017187/61055047-f803fc00-a3f0-11e9-976f-71a08f44ae12.PNG

[2019-07-23 19:43] Dismissile opened #50 "No Content response"
https://swagger.io/docs/specification/describing-responses/

Some responses, such as 204 No Content, have no body. To indicate the response body is empty, do not specify a content for the response:

[code]

If I try and provide `[OpenApiResponseBody]` with `bodyType` of null it throws a `NullReferenceException`.

Need a way to provide a response without content/schema for a No Content response.

[2019-07-25 10:59] ahryshchanka opened #51 "Support of multiple return types"
On action with ability to return multiple results:
`
[OpenApiResponseBody(statusCode: ..., contentType: "...", bodyType: typeof(DataResponse))]
[OpenApiResponseBody(statusCode: ..., contentType: "...", bodyType: typeof(ErrorResponse))]
[OpenApiResponseBody(statusCode: ..., contentType: "...", bodyType: typeof(string))]
[OpenApiResponseBody(statusCode: ..., contentType: "...", bodyType: typeof(stri

[2019-07-25 12:25] ahryshchanka opened #52 "JsonProperty attribute ignored for model"
swagger.json file contains names of properties, not value in JsonProperty  attribute and swagger ui contains "invalid" and send it too.

![image](https://user-images.githubusercontent.com/4180472/61874203-75029b80-aef0-11e9-8af6-5e1ab9c406f1.png)

![image](https://user-images.githubusercontent.com/4180472/61873964-d0805980-aeef-11e9-90a5-07ea6325c9a2.png)

[2019-07-26 21:39] Bpflugrad commented on #52
I also ran into this problem.  Here's the solution I found:
In `Aliencube.AzureFunctions.Extensions.OpenApi.Extensions.OpenApiSchemaExtensions.ToOpenApiSchema(Type, NamingStrategy, OpenApiSchemaVisibilityAttribute)` replace `property.Name` on lines 115, 137, 150, 155, and 160 with `propertyName`, which was already defined on line 110.

This fixed it for me in my local copy.

[2019-07-30 22:49] Bpflugrad commented on #52
I submitted PR #53 to hopefully get this fix merged.

[2019-07-31 17:26] DarinMacRae commented on #38
The reason I was seeing this issue is because I was following the examples too closely without reading the source carefully enough. This is no longer an issue for me.

[2019-07-31 17:26] #38 closed

[2019-08-01 00:07] brphelps opened #54 "Enum ToDataType method overly restrictive"
It looks like the ToDataType method in EnumExtensions prevents things like byte-backed Enums from working in generated swagger doc. Is there a design reason from this, or could it be added to the number switch cases?

[2019-08-01 00:25] brphelps opened #55 "Request objects with recursive JSON object structure cause a StackOverflowException"
It looks like a recursive (from a schema perspective) object structure will stack overflow when trying to generate definitions for the type in question.

![image](https://user-images.githubusercontent.com/10023676/62256914-1ccc0d80-b3b8-11e9-902d-5c21d4cc5457.png)

[2019-08-02 00:28] justinyoo commented on #47
@otsomkalov Thanks for the issue! At this time, I have no plan to implement this, but certainly, it will be included.

[2019-08-02 00:32] justinyoo commented on #51
@ahryshchanka Thanks for the issue! Let me have a look. It seems that your `ErrorResponse` is converted to `IEnumerable`. I'm scratching my head why it's happening.

Can you elaborate with more details?

[2019-08-02 00:33] justinyoo commented on #48
@Stutben Thanks for the issue! Can you provide me with your request/response body class structure? I've been suffering this generic type.

[2019-08-02 00:35] justinyoo commented on #50
@Dismissile Thanks for the issue! I'll have a look.

[2019-08-19 06:32] Planche95 opened #57 "AddScoped behaves like Singleton"
Sample project: https://github.com/Planche95/AddScopedSample

[code]
prov.GetService<Foo>(); always gets the same instance of Foo.

[code]
Foo _please; is also always the same instance.

[code]

looks like only inside Function Scoped working correctly.

---

[2019-08-19 06:37] #57 closed

[2019-08-19 19:23] ghost commented on #4
Perhaps some of the basic [C# DataAnnotations](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations?view=netframework-4.8) that have a natural equivalent in OpenAPI would be good candidates?  I.e.:
- RequiredAttribute (as mentioned)
- MaxLengthAttribute
- MinLengthAttribute
- DataTypeAttribute
- RangeAttribute

I'm new to OpenAPI and assume these are natural.

[2019-08-21 02:08] rychlym opened #58 "MissingMethodException Document.Build(Assembly, Newtonsoft.Json.Serialization.NamingStrategy)"
Hello,

after just upgrading the NuGet package Aliencube.AzureFunctions.Extensions.OpenApi 1.5.4 from 1.5.2 (which was ok) I encountered following exception
requesting any of aliencube API (e.g. http://localhost:7071/api/openapi/v2.json)

 MissingMethodException : Method not found: 'Aliencube.AzureFunctions.Extensions.OpenApi.Abstractions.IDocument Aliencube.AzureFunctions.Extensions.OpenApi.Abstr

[2019-09-17 22:50] poroo commented on #50
I stumbled upon the same issue, here's a pull request that allows [OpenApiResponse] -attributes.
https://github.com/aliencube/AzureFunctions.Extensions/pull/60

[2019-09-18 11:50] eugenpodaru opened #61 "An item with the same key has already been added. Key: ICollection"
The document generation fails with the following exception:

I have traced this to the DocumentHelper class, GetOpenApiSchemas method.

When creating the dictionary of schemas, it uses as key either the type name or the underlying type name in case it's a generic type. This means that if you are returning ICollection<ClassA> and ICollection<ClassB> from 2 of your functions, they will both resolve

[2019-09-23 11:47] gerab opened #62 "OpenApiResponseBody attribute with body type CreatedResult throws"
`[OpenApiResponseBody(HttpStatusCode.Created, "application/json", typeof(CreatedResult), Summary = "CreatedResult object response.")]`

Log:
[code]

TargetFramework: netcoreapp2.2
AzureFunctionsVersion: v2
OpenApi: v1.5.4

[2019-09-24 07:12] Matthewsre opened #63 "AppSettings class used on docs page not available"
On the docs page for: Aliencube.AzureFunctions.Extensions.OpenApi

unable to find any namespaces that include the reference to AppSettings:

`var settings = new AppSettings();`

All other references are resolved. Is there another nuget package to include?

[2019-09-24 07:40] hf-kklein commented on #63
[Aliencube.AzureFunctions.Extensions.Configuration.AppSettings](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.Configuration.AppSettings/1.1.0?_src=template).

@Matthewsre would you like to create a pull for [openapi.md](https://github.com/aliencube/AzureFunctions.Extensions/blob/2a088fb3717a644ffe203bf012af2da96f29adfc/docs/openapi.md) request for this issue

[2019-09-24 07:43] hf-kklein commented on #62
probably related to #55

[2019-09-24 20:33] senften commented on #63
After installing Aliencube.AzureFunctions.Extensions.Configuration.AppSettings 1.1.0 AppSettings is not resolved.

[2019-09-25 04:42] Matthewsre commented on #63
@hf-kklein, Tried adding that and still not resolving as reported by @senften .

Since AppSettings doesn't appear to be included in the latest NuGet packages I just added the following to my project to move past this issue:

[code]

Everything is working correctly with this work around, but not sure why this class isn't included.

Verified manual reference as suggested should not be needed:

![ima

[2019-09-26 16:53] Pharylon commented on #27
I'm not sure how you'd put it at the operation level, it's not spelled out in the docs. I've been banging my head at this issue all day, and the fix from @tjgalama saved me a few more hours of work. Thanks!

[2019-10-07 10:42] jbroenstrup commented on #50
Yes. This function would be amazing! Also I'd like to leave the body of 404 responses empty.

[2019-12-02 11:45] #47 closed

[2019-12-11 13:06] androidand commented on #63
I stumbled over the same issue trying to add openAPI to my v2 function.

[2019-12-31 19:10] shelbaz commented on #63
@Matthewsre Thanks !

[2020-01-16 13:16] rkbalu opened #64 "Sbyte datatype in model causes swagger rendering to fail"
First of all, thanks for this nuget. This helps certainly to document the Azure function api's.

When i try it out found that if the model has the datatype as SByte, it causes Swagger rendering to fail with the below error, bool works.

Are there any restriction if so why?

any help on this one would be really helpful.

![image](https://user-images.githubusercontent.com/33522349/72528123-38da4300-

[2020-01-30 14:21] OskarNet opened #65 ".NET Core v3 and Json.NET"
Hi

Was wondering if you are going to support the new built-in JSON support?  The issue is that Json.NET is not working with Azure Functions after version 3.0 of .NET Core so types like enums will not be correctly specified in the Swagger document.

[2020-02-05 11:06] tkwin opened #66 "How to add Examples Value to Request & Response Model in Swagger UI"
![image](https://user-images.githubusercontent.com/6246461/73836354-71f04c80-483d-11ea-9487-59beefaf53fb.png)
I can't find solutions using this extension to bind default example values for Request & Response Model for Http Trigger on Azure Function 2.x.  Please let me know if there are alternative ways to solve with it.

[2020-03-04 17:20] gaferrero commented on #55
Hi,

Is this fix published as a nuget package?

Thanks.

[2020-03-24 09:41] santhosh-caw commented on #63
I too have the same issue, If any one solved this please write to me.

[2020-03-31 16:49] estruyf opened #68 "Exception while executing function: RenderSwaggerDocument"
While I was following the following guide you provided: https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md

I run into the following issue while executing my `/api/swagger.json` endpoint:

[code]

Any idea why this would happen?

My target framework is .Net Framework 4.6.1 (due to a dependency which is not yet available for core).

Works fine with version `1.4.3`, does

[2020-04-02 13:28] AlbertoDePena opened #69 "Support for V3"
I just came across on this project! awesome, awesome job!!!
Will there be support for Azure Functions V3? I would like to contribute =)

[2020-04-02 14:01] KrzychuR commented on #69
I'm using it with V3. I don't see any big issues except well know already covered by some PR waiting for approve :) Maybe mine case is too simple ;)

[2020-04-22 15:20] sergxp opened #70 "Support for multiple http methods"
When trying to implement this with a function that takes a GET and POST methods, the swagger is only generated for GET.  Here is the code I'm using.
![image](https://user-images.githubusercontent.com/28748653/80000415-bc6b8780-8482-11ea-8b39-7dfe2e1abff6.png)

Is this not a feature currently or am I missing something? If it's not a feature, is there a way to work around this?

[2020-04-22 15:29] #70 closed

[2020-04-22 15:30] sergxp commented on #70
Just realized that I can separate the 2 function methods. For some reason in my mind I thought Run() was a required name for the method to execute the function

[2020-04-27 14:33] Svalhansen opened #71 "Support for formdata (upload og files)"
I would like to be able to setup form data upload of muliple files which seems impossible as of the current body signature.

[2020-05-07 10:31] PhilipAnthonyMurray opened #72 ".Net Core 3.1 is not supported"
Importing the 4 Nuget packages into my dotNet Core 3.1 results in the below message.

It appears that Aliencube.AzureFunctions.Extensions.Configuration.Json does not support dotNet Core.

[2020-05-11 14:18] justinyoo commented on #72
@PhilipAnthonyMurray Hi, there. The package, `Aliencube.AzureFunctions.Extensions.Configuration.Json` is for Azure Functions v1 that only supports .NET Framework. If you're targeting .NET Core 3.1, it shouldn't be included.

[2020-05-11 14:19] justinyoo commented on #69
@AlbertoDePena The current release supports V3 runtime. I've added a sample function app targeting V3.

[2020-05-11 14:19] #69 closed

[2020-05-11 14:19] #72 closed

[2020-05-11 14:21] justinyoo commented on #65
@OskarNet As Azure Functions v3 runtime still supports Json.NET, I don't have a plan to support the other one, `System.Text.Json` yet.

[2020-05-11 14:22] #65 closed

[2020-05-11 14:27] justinyoo commented on #71
@Svalhansen It's not implemented yet. I have no plan to implement this feature, as of today. However, it will be implemented as it's in the spec. I'll keep open this issue.

[2020-05-11 14:35] justinyoo commented on #63
Oops my bad. [`AppSettings`](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/src/Aliencube.AzureFunctions.FunctionAppCommon/Configurations/AppSettings.cs) class stated in the [openapi.md](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md) SHOULD inherit [`OpenApiAppSettingsBase`](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/src/Alien

[2020-05-11 14:38] justinyoo opened #74 "[ANNOUNCEMENT] Hibernation is over"
Hi, all.

After a long hibernation, I'm going to continue maintain this library. Thanks for long wait!

[2020-05-11 14:49] OskarNet opened #75 "Enums as strings"
Hi

Will there be a way for us to show enum values as strings in the document?

[2020-05-11 14:51] OskarNet opened #76 "Data annotations"
Hi

Will it be possible to use data annotations like [Required] to identify properties that are requried for the document?

[2020-05-12 13:05] #74 closed

[2020-05-12 13:06] justinyoo commented on #52
@ahryshchanka Thanks for the issue raised! AS @Bpflugrad mentioned, his PR has been merged.

[2020-05-12 13:06] #52 closed

[2020-05-15 13:27] mehdi-ichka commented on #27
I needed to add 'x-functions-key' in the root level @tjgalama 's solution solves my problem and saves my day. It would be more convenient if the Document class is extensible.

[2020-05-27 01:06] oising opened #80 "Interface name is misspelled"
https://github.com/aliencube/AzureFunctions.Extensions/blob/19c7c188b3e0d8cb1d2546bfd92f47d9948a6e91/src/Aliencube.AzureFunctions.FunctionAppCommon/Functions/IRenderOpeApiDocumentFunction.cs#L10

Missing the 'n' in Open.

IRenderOpe>n<ApiDocumentFunction

[2020-05-28 10:27] Svalhansen commented on #76
Along these lines usually swagger respects JsonProperty of form

[JsonProperty("foo")]
public string MyProperty {get; set;}

This makes the serialisation / deserialization and swagger contract in sync.
This does not seem to be the case for this implementation where it uses the property name in the swagger document.

So in the above example the swagger doc would generate a request sending "MyProper

[2020-06-02 09:48] OskarNet commented on #76
I see. My issue is that the attribute OpenApiRequestBody doesn't offer a way of marking certain properties as required in the Swagger document.
[OpenApiRequestBody(StringConstants.JsonContentType, typeof(MyModell))]

[2020-06-03 20:51] michaelstaszewski opened #81 "Enum values not showing in rendered document"
This is related to #26 and #33.

I have an enum defined as follows...

[code]

I've decorated my function to include a parameter definition like so...

[code]

The resulting OpenAPI definition comes out like so...

[code]

What am I missing there to get the parameter to report that it's an enum and its allowed values instead of int?

Thanks,
Michael

[2020-06-29 15:38] justinyoo commented on #81
@michaelstaszewski Thanks for your comment!

Just to confirm, do you also have the same issue when your enum is a part of the request/response payload?

[2020-06-29 15:39] justinyoo commented on #75
@OskarNet Thanks for your comment! Is it the same issue as #81 ? Where exactly does your problem occur?

[2020-06-29 15:43] OskarNet commented on #75
Thanks for your answer. Yes that seems to be the same problem.  Would be good if this got fixed :)

[2020-06-30 08:02] justinyoo commented on #75
I have an enum in the request/response payload, and it's working.

![image](https://user-images.githubusercontent.com/1538528/86100097-5ab74180-baf3-11ea-9cd1-126b3809bf5f.png)

https://github.com/aliencube/Social-Media-Integration-Suite/blob/0e2d10cbcd8868021292f6bdec98b5c52327de51/src/FeedReaders/Models/FeedSource.cs#L9

Can you apply this approach on your app so that it solves the issue?

[2020-06-30 08:05] justinyoo commented on #81
Please refer to the discussion at #75

[2020-07-01 08:49] OskarNet commented on #75
After switching to Newtonssoft and adding the attributes to the enum itself and not the enum property in the model it works.
Thanks Justin

[2020-07-01 08:49] #75 closed

[2020-07-06 16:24] eisber opened #85 "Publish symbols"
Hi,

Any chance you can publish the symbols too?
https://geeklearning.io/how-to-debug-a-net-core-nuget-package/

Markus

[2020-07-07 19:57] natiox opened #87 "Dependency problem when installing 1.6"
Wants Aliencube.AzureFunctions.Extensions.Configuration.AppSettings (>= 1.6.0) but there's no such thing in NuGet.

[2020-07-07 23:16] justinyoo commented on #87
@natiox Oops I'll check this out.

[2020-07-08 04:28] justinyoo commented on #87
New version 1.6.1 has been released. Thanks!

https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.6.1

[2020-07-08 04:28] #87 closed

[2020-07-09 12:57] justinyoo commented on #85
@eisber Thanks for the issue. Let me double check.

[2020-07-09 15:27] justinyoo commented on #85
This has been fixed at #88 and will be released soon. Due to this change, all NuGet packages will have its slight version up.

[2020-07-09 15:27] #85 closed

[2020-07-09 15:44] #81 closed

[2020-07-09 15:50] justinyoo commented on #58
Hi, @rychlym Is it still issue with `1.5.4`? Can you please try `1.6.1` and let me know?

[2020-07-09 15:51] justinyoo commented on #68
Hi, @estruyf Is it still issue with `1.5.x`? Can you please try `1.6.1` and let me know?

[2020-07-09 15:52] justinyoo commented on #66
Hi, @tkwin It's not been supported yet.

[2020-07-11 16:50] justinyoo commented on #63
From `1.7.0`, there is no dependency on `AppSettings`. Please following the revised document, https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md

[2020-07-11 16:50] #63 closed

[2020-07-11 16:51] justinyoo commented on #58
From `1.7.0`, you don't have to rely on this. Please follow the revised document, https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md

[2020-07-11 16:51] #58 closed

[2020-07-11 16:53] justinyoo commented on #68
From `1.7.0`, it becomes easier to use. Please visit the revised document, https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md

[2020-07-11 16:53] #68 closed

[2020-07-11 16:56] justinyoo commented on #51
As I haven't heard of anything, I'll close this ticket now. If you have more details to share, please re-open this issue.

[2020-07-11 16:56] #51 closed

[2020-07-11 19:27] rychlym commented on #58
Hi @justinyoo,
I have tried again with the 1.6.1 and encounterred the exact same exception

[code]

[code]

and going to try the 1.7.0 ...

[2020-07-11 19:39] rychlym commented on #58
hm, it still not working even with the  1.7.0 - the same error
(also tried to update the Microsoft.NET.Sdk.Functions tho the 1.0.37 (supposing still the v1 and still working only with the ver 1.5.2

[2020-07-12 00:37] justinyoo commented on #55
It's been fixed from `1.6.1`. I'm closing this issue. If you still have an issue, please create another issue and link to this.

[2020-07-12 00:37] #55 closed

[2020-07-12 00:38] justinyoo commented on #62
It's been fixed from `1.6.1`. Please have a try it. I'm going to close this this issue. If you have the same problem, please create a new issue and link to this one.

[2020-07-12 00:38] #62 closed

[2020-07-12 04:07] justinyoo commented on #58
As I can see the SPO related NuGet packages, I assume that you're using AzFunc v1, right? In this case, you can't change the Newtonsoft.Json version. The error you see is because of the version change. Here are many discussions around:

* https://github.com/Azure/azure-functions-host/issues/4049

I'm sorry to say that this is out of my control. However, there are possible solutions you might like

[2020-07-12 05:23] rychlym commented on #58
Hi,
Thanks for the info!
Right, I am using the v1 of azure function, as can be seen using the
`<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="1.0.29" />`

The v1 is used , because PnPCore library is still not compatible with the .NET Core.
The problem seemed to be, that SharePointPnPCoreOnline was dependant on Newtonsoft.JSON version 11.0.1, and Microsoft.NET.Sdk.Functions was de

[2020-07-12 11:50] justinyoo commented on #58
It's really strange...

The OpenApi extension has a dependency on the Function SDK v1.0.28 - which uses Newtonsoft.Json 9.0.1. I've got sample function apps [V1IoC](https://github.com/aliencube/AzureFunctions.Extensions/tree/dev/samples/Aliencube.AzureFunctions.FunctionAppV1IoC) and [V1Static](https://github.com/aliencube/AzureFunctions.Extensions/tree/dev/samples/Aliencube.AzureFunctions.Function

[2020-07-14 14:39] Dan-Williams93 commented on #40
Hi @justinyoo, it looks like the response type with generics described by @DibranMulder is still an issue in the latest release. I am currently trying to make use of the OpenApiResponseBody attribute in the same way, using the example as below

[code]

However, when looking at the definition, the generic model is shown as the response type but it fails to show the internal generic enumerable as it

[2020-07-14 14:46] Dan-Williams93 commented on #48
@justinyoo i am also having this issue with the latest release. I have provided a simple example of how i am trying to use the ResponseBody attribute on #40

[2020-07-15 20:09] 1TheMuffinMan commented on #6
I agree with this request. It took me a considerable amount of time to get this working in my project. I had to pull down the samples and spend another hour figuring out why it worked and mine didn't. Appreciate all of your hard work thus far 👍

[2020-07-16 00:31] justinyoo commented on #6
@1TheMuffinMan Thanks! I've been working on it for a while. In the meantime, can you try this approach. It installs the boilerplate code so that you don't have to worry about that part

https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md#option-1-install-open-api-boilerplate-templates

Ultimately, I'll make the package that you won't need to install the boilerplate code

[2020-07-16 05:46] justinyoo commented on #6
It's now available from [1.8.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.8.0)

[2020-07-16 05:46] #6 closed

[2020-07-16 05:46] justinyoo commented on #31
It's now available from [1.8.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/1.8.0)

[2020-07-16 05:46] #31 closed

[2020-07-17 05:15] 1TheMuffinMan opened #95 "Swagger endpoints result in 401 when hosting in Azure"
I have the newest nuget package and am using your openapi/swagger document generation code. It works in localhost, but when I deploy to Azure I just get a 401 response when I access `/api/swagger/ui`

Any idea?

[2020-07-17 07:27] justinyoo commented on #95
@1TheMuffinMan Hi, did you get a chance to put this? https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md#configure-app-settings-key

[2020-07-17 08:19] 1TheMuffinMan commented on #95
I took the value from `_master` and put it in the `OpenApi__ApiKey` in `local.settings.json` and also in the Application settings in Azure. Still 401.

![image](https://user-images.githubusercontent.com/4889283/87764460-464d9700-c7cb-11ea-9093-c2ed33864455.png)

![image](https://user-images.githubusercontent.com/4889283/87764496-5796a380-c7cb-11ea-9271-ea73843df9e4.png)

![image](https://user-imag

[2020-07-17 12:18] justinyoo commented on #95
Your Swagger endpoint should also be with the key like `/api/swagger/ui?code=xxxx`. Please try this and let me know.

[2020-07-17 17:00] 1TheMuffinMan commented on #95
Thank you, got it working!

[2020-07-17 17:00] #95 closed

[2020-07-18 23:23] justinyoo commented on #95
Glad it works!

[2020-07-19 23:57] justinyoo commented on #50
It's now available from [2.0.0.1](https://github.com/aliencube/AzureFunctions.Extensions/releases/tag/swagger-2.0.0.1)

[2020-07-19 23:57] #50 closed

[2020-07-28 03:31] kylednoland opened #98 "OpenApiResponseWithoutBodyAttribute example is incorrect"
## Reproduction Steps
The documentation for `openapi.md` includes examples for all of the supported decorators. The code snippet example for for `OpenApiResponseWithoutBodyAttribute` includes incorrect parameters which I believe are incorrectly for the `OpenApiResponseWithBodyAttribute` decorator instead.

## Proposed Solution
- Remove the `contentType` and `bodyType` parameters from the `OpenApiR

[2020-07-29 11:02] justinyoo commented on #98
@kylednoland Thanks for picking up the typo!

[2020-07-29 11:02] #98 closed

[2020-07-30 05:39] kylednoland opened #100 "ICollection<string> not serializing properly"
## Issue
When I have a model item that includes an ICollection<string> the resulting OpenAPI document reference results in an ICollection`1 instead. It looks like current logic covers List<T>, IList<T>, IEnumerable<T>, but not ICollection<T>.

## Repro Steps
Add an `OpenApiResponseWithBody` attribute to a Function which contains a referencing Type that contains an ICollection<string>

[2020-07-30 17:04] kylednoland opened #101 "Model with Custom Attribute without PropertyName throws error"
## Repro Steps

Add an `OpenApiResponseWithBody` on a Function with a response with type that is decorated with a custom attribute without the `PropertyName` field populated.

Example of Function Attribute
[code]

Example of referenced class that produces the error
[code]

Currently, the Function will throw an error when generating an OpenAPI document with a response: `System.Private.CoreLib: Exce

[2020-07-31 01:21] justinyoo commented on #100
@kylednoland Thanks for raising the issue! I'll have a look and fix it.

[2020-07-31 01:24] justinyoo commented on #101
@kylednoland Thanks for raising the issue! Can you try `[JsonRequired]` for your case, instead of `[JsonProperty(Required = Required.Default)]`

Even if it doesn't solve the issue with the current version, it's sorted out on [v3](https://github.com/aliencube/AzureFunctions.Extensions/tree/v3), which will be released soon. Please have a try and let us know.

[2020-07-31 03:29] kylednoland commented on #101
Hey @justinyoo, thanks for the quick response! I switched out the `JsonProperty` for `JsonRequired` and it seems to have resolved the issue using my example from above. With v3 coming soon would it be worth it to fix this to maintain v2?

[2020-08-03 12:56] justinyoo commented on #101
@kylednoland This has been fixed on [v3.0.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.0.0)

[2020-08-03 12:56] justinyoo commented on #100
@kylednoland This has been fixed on [v3.0.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.0.0)

[2020-08-03 12:56] #100 closed

[2020-08-03 12:57] justinyoo commented on #80
@oising Thanks for the issue! The sample code has been revamped.

[2020-08-03 12:57] #80 closed

[2020-08-03 12:59] justinyoo commented on #76
@OskarNet @Svalhansen This has been fixed on [v3.0.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.0.0). More details can be found at [openapi-core.md](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi-core.md#supported-jsonnet-decorators)

[2020-08-03 12:59] #76 closed

[2020-08-03 13:03] justinyoo commented on #64
@rkbalu Thanks for the issue! it doesn't support `sbyte`. Can you try `short` instead?

[2020-08-03 13:03] #64 closed

[2020-08-03 13:04] justinyoo commented on #61
@eugenpodaru Thanks for the issue! This has been fixed on [v3.0.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.0.0)

[2020-08-03 13:04] #61 closed

[2020-08-03 13:06] justinyoo commented on #54
@brphelps Thanks for the issue! From [v3.0.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.0.0), the enum now supports `short`, `int` and `long`.

[2020-08-03 13:06] #54 closed

[2020-08-03 13:07] justinyoo commented on #48
@Stutben @Dan-Williams93 This now has been fixed on [v3.0.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.0.0).

[2020-08-03 13:07] #48 closed

[2020-08-03 13:08] justinyoo commented on #66
Related to #43

[2020-08-03 13:08] #7 closed

[2020-08-03 13:08] justinyoo commented on #7
It's effective from [v3.0.0](https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.0.0)

[2020-08-03 13:14] kaluznyt opened #102 "Enum to string conversion doesn't seem to work"
Hi,

Thanks for great package !

I'm trying to achieve something, namely, I have a request/response model wich have some enums, and would like to display the enum options as strings.

In the docs I found that decorating the enum property with JsonConverter(typeof(StringEnumConverted)) should be sufficient.
https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md#jsonconverte

[2020-08-03 15:41] justinyoo commented on #102
@kaluznyt Thanks for the issue. Can you please try like:

[code]

https://github.com/aliencube/AzureFunctions.Extensions/blob/c53adaff65b33bacf7780272e3e36aaf87c2cf6f/samples/Aliencube.AzureFunctions.FunctionApp.Models/StringEnum.cs#L9-L11

[2020-08-03 15:42] justinyoo commented on #102
It doesn't support `System.Text.Json` package yet, as Azure Functions runtime doesn't support it.

[2020-08-03 19:52] kylednoland commented on #101
Thanks for the v3 updates @justinyoo! I just updated my code with the latest NuGet package update for version 3.0.0 and I'm still unfortunately seeing this same error. Updating models to use `[JsonRequired]` rather than `[JsonProperty(Required = Required.Default)]` does seem to still fix the issue (as in v2).

[2020-08-03 19:53] kylednoland commented on #100
Confirmed fixed in v3. Thanks @justinyoo!

[2020-08-03 20:02] kylednoland commented on #101
Looking at the updated `PropertyInfoExtensions.cs` file it looks like it would need to check if the `PropertyName` value is null in addition to the check if the custom property exists in order to resolve this issue.

[2020-08-03 23:36] justinyoo commented on #101
@kylednoland Re-open the issue to have a look. Could you please provide me with steps to repro?

I have a sample model like this:

https://github.com/aliencube/AzureFunctions.Extensions/blob/c53adaff65b33bacf7780272e3e36aaf87c2cf6f/samples/Aliencube.AzureFunctions.FunctionApp.Models/DummyResponseModel.cs#L41-L42

The `Required.Default` enum value doesn't mean the property is `required`, by the way

[2020-08-04 03:50] kylednoland commented on #101
To reproduce you would need a model like the following:

[code]

[2020-08-04 07:16] kaluznyt commented on #102
@justinyoo Thank you that works fine ! I thought I tried that, but perhaps I got a reference to System.Text.Json JsonConverter instead of Newtonsoft earlier and didn't see any effect :( Thanks again!

[2020-08-04 07:16] #102 closed

[2020-08-04 16:28] ELimburg opened #105 "Support for triggers from multiple Assemblies"
I would like to have one OpenAPI spec for triggers from multiple assemblies. Is that somehow possible?
Azure Functions do support it by setting the property `<FunctionsInDependencies>true</FunctionsInDependencies>`.

[2020-08-04 21:00] ccruden-shookiot opened #106 "Workaround to package include induced source control problems?"
Is there a way to nicely modify the default scaffolding included with A.A.E.OpenApi so that it sticks and is source-controllable?

Specifically, A.A.E.OpenApi adds three files (IOpenApiHttpTriggerContext.cs, OpenApiHttpTrigger.cs, and OpenApiHttpTriggerContext.cs) to the Azure function project. The triggers it defines are created with AuthorizationLevel.Function by default, and we'd like to build

[2020-08-05 14:48] SimonKoegler commented on #106
As a workaround I installed [Aliencube.AzureFunctions.Extensions.OpenApi.Core](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi-core.md) instead of [Aliencube.AzureFunctions.Extensions.OpenApi](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi.md) and added those three files manually (from https://github.com/aliencube/AzureFunctions.Extensions

[2020-08-05 15:28] ccruden-shookiot commented on #106
Thanks Simon! For some reason that did not occur to me, and it does indeed get around the problem.

[2020-08-05 15:28] #106 closed

[2020-08-06 10:42] justinyoo commented on #106
@ccruden-shookiot Oops it's too late to answer! Yes, as @SimonKoegler's suggestion is what I was going to offer for now.

[2020-08-06 11:11] justinyoo commented on #105
@ELimburg Thanks for the issue. Would you please elaborate your question?

[2020-08-06 20:49] ccruden-shookiot opened #107 "Resolver errors in generated swagger UI using OpenApi.Core 3.0.0"
When I expand certain of the endpoints in the swagger UI from my function app, I get errors resolving certain types:
Resolver error at paths./TagMap/{Id}.delete.responses.204.schema.$ref
Could not resolve reference: Could not resolve pointer: /definitions/int32 does not exist in document
The errors seem to be linked to the response of the functions. Every function I have is flagged with OpenApiRes

[2020-08-07 00:53] justinyoo commented on #107
@ccruden-shookiot Thanks for the issue!

It seems that there are multiple issues happening at the same time:

* The HTTP status code of 204 basically means there's no response payload. Therefore, for your case, it's better to use `OpenApiResponseWithoutBodyAttribute`.
* If you use `Aliencube.AzureFunctions.Extensions.OpenApi.Core` package, you should take care of `OpenApiHttpTrigger` that handles

[2020-08-07 02:35] ccruden-shookiot commented on #107
A few good points there....

The example I used apparently is coded in a weird way - for some reason it's a WithBody attribute, but the code is HttpStatusCode.NoContent, and it indicates it returns a typeof(int), but the code actually doesn't. Probably some changes made and someone forgot to change everything. I went through and fixed up the functions whose OpenApiResponse* attributes didn't match

[2020-08-07 12:19] gsteencg commented on #107
This may be fixed with my pull request here: https://github.com/aliencube/AzureFunctions.Extensions/pull/104

[2020-08-07 14:03] ELimburg commented on #105
@justinyoo I have attached a small test function app that shows this issue.
I have two projects. The main functionapp and a library with another function.
When the the functionapp is started both functions are started and are running fine.
The issue is that the swagger docs only show the function from the main project and not the library.

[ExampleAppSwaggerMultipleAssemblies.zip](https://github.c

[2020-08-11 11:29] Archomeda opened #109 ""An item with the same key has already been added" for the generic value type of a dictionary"
Very similar to #61.

Example:
[code]

This throws `An item with the same key has already been added. Key: classB.`

[2020-08-11 11:45] Archomeda opened #110 "Support for response headers"
I have found the ability to define request headers in `OpenApiParameterAttribute`, but I haven't found a way to define headers for responses. Have I missed this, or is it currently not supported? If the latter, can support for this be added?

[2020-08-11 12:03] kylednoland commented on #101
Issue fixed in PR #103

[2020-08-11 12:03] #101 closed

[2020-08-11 19:06] ccruden-shookiot commented on #110
Perhaps you're looking for the OpenApiResponseWithBodyAttribute and OpenApiResponseWithoutBodyAttribute classes? Bottom of the page [here](https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi-core.md).

[2020-08-13 06:58] Archomeda commented on #110
I'm already using those, but there's no support for setting response headers there.

[2020-08-21 13:59] Ma3yTa opened #111 "how to specify file upload parameter"
https://swagger.io/docs/specification/2-0/file-upload/
https://swagger.io/docs/specification/describing-request-body/file-upload/

``[OpenApiRequestBody("multipart/form-data", typeof(IFormFile))]`` doesn't work

[2020-08-22 09:18] bseng commented on #46
Hi I tried the temporary solution but it did not work for version 3.0.0.

Can we introduce an environment variable "Openapi__CodeQuery" to turn off when needed?

[2020-08-24 13:05] justinyoo commented on #111
@Ma3yTa The content type of `multipart/form-data` is not supported yet.

[2020-08-24 13:11] justinyoo commented on #110
@Archomeda It's not supported yet

[2020-08-24 14:23] baltuonis opened #112 "Primitive types declarations"
Hi, recently we've upgraded to the latest (v3) Aliencube.AzureFunctions.Extensions.OpenApi.Core package and we are seeing a strange behaviour regarding the primitive types declarations which breaks our ApiManagement ARM templates.

So previously responses were looking like this:

[code]

but now it looks like this:

[code]
Which I assume is not the correct behaviour...
Also `string` does not exist

[2020-08-24 19:08] baltuonis opened #113 "List type declarations"
Hi,

We've updated to the latest 3.0.0 version of OpenAPI generator and it creates some really strange unspecified definitions for lists.

Example:

[code]

The `"$ref": "#/definitions/IList`1"` part does not exist in definitions and it can't be recognized.

[2020-08-25 01:51] justinyoo commented on #109
@Archomeda Thanks for the issue! I was able to reproduce the issue. A fix will be added soon.

[2020-08-25 02:02] justinyoo commented on #110
Reference: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#responseObject

[2020-08-25 02:11] justinyoo commented on #105
Let me have a look. I hasn't been sure what it exactly means.

[2020-08-25 02:13] justinyoo commented on #111
Related to #71

[2020-08-25 02:16] justinyoo commented on #46
@bseng Let me have a look.

[2020-08-25 02:19] justinyoo commented on #113
@baltuonis Thanks for the issue! It seems that your `VehicleQuestionAnswerCollection` is a dictionary type like `Dictionary<string, IList<T>>`. Can you please provide the class definition?

[2020-08-25 02:21] justinyoo commented on #112
@baltuonis Thanks for the issue. Could you please show how I can reproduce this issue?

[2020-08-25 05:37] justinyoo commented on #109
A new release has been published: https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.1.0

[2020-08-25 05:37] justinyoo commented on #109
I'll close this issue. But if you still experience the same issue, please feel free to re-open it.

[2020-08-25 05:37] #109 closed

[2020-08-25 14:25] wouter-droog commented on #112
@justinyoo I'm getting the same behavior.

the behavior occurs when defining the bodyType in OpenApiResponseWithBody attribute.

Reproduction steps:
with bool
[code]
with string
[code]

[2020-08-25 16:57] baltuonis commented on #113
This is the definition

[code]

On Mon, 24 Aug 2020 at 23:19, Justin Yoo <notifications@github.com> wrote:

[2020-08-26 12:00] bseng commented on #109
Hi,

I've a similar issue.

The code below will throw `An item with the same key has already been added. Key: classB.`

[code]

[2020-08-27 02:15] ccruden-shookiot commented on #107
It looks like pull request 104 has been merged into OpenApi.Core 3.1.0, but I still have this problem using that version of the package.

[2020-08-27 12:13] tsolbjor opened #115 "An item with the same key has already been added."
If you have multiple properties of the same complex type in response body ObjectTypeVisitor.ProcessProperties failes with:

`An item with the same key has already been added. Key: <typename>`

[2020-08-27 12:13] tsolbjor commented on #115
PR that solves is in #114

[2020-08-28 07:02] hajekj opened #116 "Add broader support for Microsoft's Custom Connector annotations"
There are already [samples](https://devkimchi.com/2020/07/15/creating-custom-connector-from-azure-functions-with-swagger/) how to make use of this library to make some more advanced annotations for Custom Connectors in Logic Apps or Power Automate.

It would be really cool to get support for trigger annotations along with dynamic schema and so on. Microsoft has it quite well documented here: https

[2020-08-28 18:48] YashC opened #117 "Upgrade Swagger UI to latest version 3.32.x"
Upgrade to latest version from v3.20.5, which has XSS and HTML injection security vulnerabilities.

Here are releases with security fixes
https://github.com/swagger-api/swagger-ui/releases/tag/v3.32.2
deps: update react-syntax-highlighter from 12.2.1 to 13.5.0, which includes dependency security update fixed by prismjs@1.21.0 (#6312)

https://github.com/swagger-api/swagger-ui/releases/tag/v3.24.1

[2020-08-29 02:16] justinyoo commented on #117
@YashC Thanks! I'll chase this up.

[2020-08-29 02:18] justinyoo commented on #116
@hajekj Thanks for the issue! I'll chase this up.

[2020-08-29 02:21] justinyoo commented on #107
Related to #112 and #113

[2020-08-31 04:10] justinyoo commented on #115
@tsolbjor Thanks for the issue! It's been merged and will be released soon.

[2020-08-31 07:13] justinyoo commented on #107
@ccruden-shookiot Could you please try the new release, https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.1.1 and let me know how it works?

[2020-08-31 07:14] justinyoo commented on #112
This fix has been released: https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.1.1

I'm going to close this issue. If you still have an issue, feel free to open this again.

[2020-08-31 07:14] #112 closed

[2020-08-31 07:14] justinyoo commented on #113
This fix has been released: https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.1.1

I'm going to close this issue. If you still have an issue, feel free to open this again.

[2020-08-31 07:14] #113 closed

[2020-08-31 07:15] justinyoo commented on #115
This fix has been released: https://www.nuget.org/packages/Aliencube.AzureFunctions.Extensions.OpenApi/3.1.1

I'm going to close this issue. If you still have an issue, feel free to open this again.

[2020-08-31 07:15] #115 closed

[2020-08-31 07:17] justinyoo commented on #107
I'm going to close this issue for now. If you still have an issue, please feel free to open it again.

[2020-08-31 07:17] #107 closed

[2020-09-01 15:59] ccruden-shookiot commented on #107
3.1.1 does indeed fix the issue for me.

[2020-09-03 12:21] grik001 opened #119 "byte[] in Response object for OpenApiResponseWithBody triggers an error"
Hi,

I am not sure if everything is correct in my implementation. But it seems that when I use a byte[] in a return object I get the following error:

![image](https://user-images.githubusercontent.com/27157850/92113968-67585e80-edf0-11ea-96b0-0faa5bd2508a.png)
![image](https://user-images.githubusercontent.com/27157850/92114173-b69e8f00-edf0-11ea-9fac-d410eb1d4f9c.png)
![image](https://user-image

[2020-09-08 18:51] obautista opened #120 "Using custom List types in OpenApiRequestBody and OpenApiResponseWithBody bodyType parameter"
Is it possible the OpenApiRequestBody and OpenApiResponseWithBody reference custom list types?  For example:

`[OpenApiRequestBody(contentType: "application/json", bodyType: typeof(SearchSpecificationDto<AddressDto>), Required = true, Description = "SearchSpecificationDto of type AddressDto")]`

`[OpenApiResponseWithBody(statusCode: HttpStatusCode.OK, contentType: "application/json", bodyType: typ

[2020-09-09 04:59] justinyoo commented on #120
@obautista Thanks for the issue. Would you please provide me with the `SearchResultDto<AddressDto>` implementation details so that I can have a look?

[2020-09-09 05:01] justinyoo commented on #119
@grik001 Thanks for the issue! The `byte` type is not supported at the moment.

[2020-09-09 10:39] obautista commented on #120
Thanks @justinyoo -

`public class SearchResultDto<T> where T : class
{
    [JsonProperty("results")]
    public List<T> Results { get; set; }

    [JsonProperty("pagingResult")]
    public PagingResult PagingResult { get; set; }
}`

`public sealed class AddressDto
{
    [JsonIgnore]
    public Guid? Id { get; set; }

    [JsonProperty("documentType")]
    public string DocumentType { get; set; }

[2020-09-09 13:01] justinyoo commented on #120
@obautista Thanks for the class details. But it doesn't seem to be correct.

[2020-09-09 17:32] obautista commented on #120
what isnt correct?

[2020-09-09 22:44] justinyoo commented on #120
It looks generic, but your class definition doesn't

[2020-09-10 16:48] webdes03 commented on #71
Any ETA on this? I don't need to upload multiple files, just a single one with application/octet-stream, but nothing I do seems to work.

[2020-09-10 21:31] filcole opened #121 ".net Framework 4.6.2 support for v1 Azure Functions?"
Is it possible to use .net Framework 4.6.2 with AzureFunctions.Extensions?

**Context**:  I'm trying to create a v1 Azure function that uses the [Dynamics 365/PowerPlatform SDK, which requires .net Framework 4.6.2](https://docs.microsoft.com/en-us/dynamics365/customerengagement/on-premises/developer/visual-studio-dot-net-framework), so I have to use at least .net Framework 4.6.2.

I can use Visual

[2020-09-11 10:53] justinyoo commented on #121
@filcole Thanks for the issue! Oops, it's a bug. I overlooked that part. In the meantime as a workaround,

1. Install OpenApi.Core package
2. Manually copy over the three files from https://github.com/aliencube/AzureFunctions.Extensions/tree/dev/templates/OpenApiEndpints &ndash; `IOpenApiHttpTriggerContext.cs`, `OpenApiHttpTriggerContext.cs`, and `OpenApiHttpTriggerV1.cs`.
3. Remove `#if NET461` p

[2020-09-12 11:07] filcole commented on #121
Hi @justinyoo,

Thanks very much for the quick solution.  The workaround allows the Azure Function to work in .net Framework other than 4.6.1, e.g. 4.6.2

It leads onto the next issue that the latest nuget packages for connecting to Dynamics/PowerPlatform require more recent Newtonsoft.Json than V1 Azure functions provides:

[Microsoft.CrmSdk.XrmTooling.CoreAssembly v9.1.0.51](https://www.nuget.or

[2020-09-13 08:44] justinyoo commented on #121
Yeah, unfortunately, if you have to stick with Azure Functions v1 runtime, there's no space I can do for you; other than sticking onto the Newtonsoft.Json version 9.0.1 due to the original runtime issue.

[2020-09-13 23:10] filcole opened #122 "No error messages given by OpenApi.CLI"
Start the azfuncopenapi.exe with missing or invalid parameters and no errors are thrown.

I expect some kind of command line output, e.g. invalid command, or help output.

[2020-09-13 23:17] filcole opened #124 "If CLI path explicitly states .csproj then assembly is not found"
Running the following will fail because .csproj is added twice to the URL in `SetProjectPath`

[code]

[2020-09-13 23:26] filcole opened #126 "CLI releases on github contains identical filenames"
Unzipping the CLI files on gives duplicate files, e.g. from here: https://github.com/aliencube/AzureFunctions.Extensions/releases/download/cli-0.8.1/azfuncopenapi-v0.8.1-net461-win-x64.zip

![image](https://user-images.githubusercontent.com/6078398/93031177-b38d7500-f620-11ea-87fd-4b5f30b4c28a.png)

I had to build from source to try out the CLI.

[2020-09-14 00:29] justinyoo commented on #126
@filcole Thanks for the issue. There has been issues around the CLI. I'll fix them sooner than later, including this.

[2020-09-14 00:30] justinyoo commented on #124
@filcole Thanks for the issue. There has been issues around the CLI. I'll fix them sooner than later, including this.

[2020-09-14 00:31] justinyoo commented on #122
@filcole Thanks for the issue. There has been issues around the CLI. I'll fix them sooner than later, including this.

[2020-09-15 18:10] rodrigoramirez93 commented on #35
Is there any hack around this to at least make it work? btw great work guys

[2020-09-23 19:06] terra819 opened #128 "Get EnumMember Value"
I am trying to use an `enum` that has `EnumMember` values defined instead of `Display` values. Using `StringEnumConverter` generally produces the correct results, but when used with `aliencube.azurefunction.extensions`, it does not. For example, below I want to get the `"Jan"`, `"Feb"`, etc. values from the `enum` into the generated swagger document. Instead I am getting the `"january"`, `"februar

[2020-09-28 08:41] tsolbjor opened #129 "Generic types makes yaml definition non-compliant"
Having properties like this:
* `MyClass<GenericType> MyProp {get;set;}`

Schema is generated like this:
[code]

The notation with "`" is  valid Json and is not a problem in OpenAPI as json, but when generating yaml it failes with:

[code]

[2020-09-28 18:55] asears opened #131 "Documentation stale - OpenApiResponseBody should be OpenApiResponseWithBodyAttribute"
In <https://github.com/aliencube/AzureFunctions.Extensions/blob/dev/docs/openapi-core.md> the OpenApiResponseBody  example is obsolete- should use OpenApiResponseWithBodyAttribute.

[2020-09-29 19:28] asears commented on #122
@justinyoo could you provide a way you currently debug the errors from source?  Experiencing same blank output with no errors or warnings....

[2020-10-05 22:25] sebb3 opened #132 "ReflectionTypeLoadException when running CLI"
When running the CLI I get the following exception:

`Unable to load one or more of the requested types.
Could not load file or assembly 'Microsoft.AspNetCore.Mvc.Core, Version=2.2.5.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. Could not find or load a specific file. (0x80131621)
Could not load file or assembly 'Microsoft.AspNetCore.Mvc.Abstractions, Version=2.2.0.0, Culture=neutral, Publ

[2020-10-05 23:36] sebb3 commented on #132
After doing some more investigating, it seems that something in OpenAPI.CLI is referencing v2.1.0 of Microsoft.AspNetCore.Mvc.Core and Microsoft.AspNetCore.Mvc.Abstractions.
I havent been able to figure out where that reference is coming from, but the dlls appear in the CLI:s build folder.

Directly referencing the newer packages in the .csproj file of the CLI fixes the problem. Maybe there's a pr

[2020-10-14 21:36] digitalanalogue9 opened #133 "An item with the same key has already been added."
I'm facing a similar issue to #115.  I'm using create inner classes for the input and output for multiple endpoints so whilst the class is unique e.g. CreateLocationData.Request and EditLocationData.Request, the visitor is find multiple Request classes and returning

`**Exception while executing function: RenderOpenApiDocument. System.Private.CoreLib: An item with the same key has already been add

[2020-10-14 22:22] digitalanalogue9 opened #134 "StackOverflow Exception"
Hi,
I'm getting a stack overflow exception when I run any of the endpoints.  I'm not really where sure to start with trying to figure out what's causing the issue but v. happy to help if I can.

I've narrowed it to the error comes from the Build function.
            var a = context.Document.InitialiseDocument();

            var b = a.AddMetadata(context.OpenApiInfo);
            var c = b.AddSer

[2020-10-16 09:59] Cznielsen commented on #134
I have this issue as well. It appears to be due to circular reference.

[2020-10-16 16:17] ghost commented on #28
@justinyoo i got into the same problem. My challenge is that i have to stick to functions v1 due to a dependent third party SDK, and when i deploy to azure, i get the same host.json was not found and is not optional issue.

When i am looking at the latest code in 'dev', i am seeing the implementation has changed. So the commit 'https://github.com/aliencube/AzureFunctions.Extensions/commit/ee9e63d9

[2020-10-21 13:17] theplankmeister opened #135 "Property description added to field?"
I can't seem to find documented anywhere a mechanism for parsing a class property description and putting it in the generated swagger definition. I assumed it would just work out-of-the-box by using the "Description" attribute, but no dice. Also tried with a `///<summary>` comment, which doesn't work either. Am I barking up the wrong tree, or is there just no support for property descriptions?

[2020-11-11 21:42] MRL-00 commented on #46
@justinyoo is there any update on this? I would like to use the Authorize button inside the Swagger UI instead of needing to put the API code inside the default Code Parameter. It would be great if we could have a way to remove this parameter.
Refer to the image below.
![image](https://user-images.githubusercontent.com/2846782/98868868-b0eeb500-24d5-11eb-8b29-60f22bfc0bb1.png)

[2020-11-12 16:09] disambiguationuk opened #136 "Updating Authorization Level and Base URL"
Hello,

I'm trying to update the authorization to anonymous as I'd rather not be exposing my host key as it renders in the Swagger UI page. However, as the Render Swagger UI function is included in the Nuget package I can't find a way to override this. Is there a way to override this in the settings.

We're also using an Azure API Management Instance and Azure Front Door in front of our API which

[2020-11-13 06:28] justinyoo commented on #122
As #123 has been merged, it should be fine by now. I'll close this issue. If you still have the same issue, please feel free to open a new issue.

[2020-11-13 06:28] #122 closed

[2020-11-13 06:41] justinyoo commented on #121
As I replaced all `NET461` moniker with `NETFRAMEWORK`, it should be fine by now. I'll close this issue. The next release will include this fix.

[2020-11-13 06:41] #121 closed

[2020-11-13 06:43] justinyoo commented on #124
Think your PR #125 would fix this issue as well? I'll close this issue for now. If you find it's still an issue, please open a new issue.

[2020-11-13 06:43] #124 closed

[2020-11-13 07:22] justinyoo commented on #132
@sebb3 Thanks for your issue. Would you please let me know which .NET Core SDK version you have installed? You can type `dotnet --list-sdks` to view the list of .NET Core SDK installed on your machine.

[2020-11-13 08:18] justinyoo commented on #134
Does it happen with the sample function apps in this repo?

[2020-11-13 08:20] justinyoo commented on #135
@theplankmeister Thanks for your issue! I just want to clarify what the "class property description" is about. Do you want to add description to each model definition?

[2020-11-13 08:24] justinyoo commented on #136
@disambiguationuk Thanks for the issue!

Please refer to #106

It's not supported yet. But let me consider whether I can provide a way for the base URL overriding or not.

[2020-11-14 04:47] justinyoo opened #137 "Generic delimiter selector"
As an extension of #129 and #130, the delimiter for generics should be chosen by developers through an option, it may be a part of OpenApiOperationAttribute or a new attribute class.

[2020-11-14 04:48] #129 closed

[2020-11-16 09:36] disambiguationuk commented on #136
Cheers @justinyoo, that first one solved that thanks! Couldn't find that one originally as the original question was about source control rather than authorization levels.

Yeah adjusting the base URL would be pretty important for us, the Azure Function base URL is fairly different from the API Management base URL.

[2020-11-23 15:08] nikolic-m commented on #119
@grik001 Hi,

I had the same issue and I resolved it by adding ByteVisitor manually to the visitor collection when initializing the document since I noticed that it was missing in the source code. It's not the perfect solution though. Hope it helps you as well.

Code example below:

[code]

[2020-11-25 07:29] MattL-NZ opened #138 "Can we specify our own swagger.json file?"
There are some generated aspects that are part of this package that are great.
Others that are generated are things I don't want to include within swagger. One of these being the `Code` parameter that you must define if a functions AuthorizationLevel is set to "Function".

Can I define my own swagger.json file that this package can read? That way I could remove the parameter that way.

`"parameter

[2020-11-30 09:51] AccsoSG commented on #47
@justinyoo are there any updates yet? That would be a great feature.

[2020-12-03 14:29] hansmbakker commented on #136
Yes! Overriding the base url would be a helpful feature for us as well. Maybe this is something that can be configured in `openapisettings.json`?

[2020-12-23 13:54] Cezus opened #139 "Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'"
Hello,

I have installed the nuget package in our V3 functions app and when I try to run the RenderOpenApiDocument, the RenderSwaggerUI of the RenderSwaggerDocument, I get the following error in the console:

[2020-12-23T13:41:03.952Z] System.Private.CoreLib: Exception while executing function: RenderOpenApiDocument. ProRail.PUIC2.Web.Functions: The type initializer for 'Aliencube.AzureFunctions.E

[2020-12-25 06:16] justinyoo opened #140 "Mark an endpoint as deprecated"
User hexxys <vash1053@gmail.com> sends the following message to the owners of Package 'Aliencube.AzureFunctions.Extensions.OpenApi.Core 3.1.1'.

Hey Justin,

Is there a way to mark an endpoint as deprecated, as defined in the OpenAPI/Swagger spec? https://swagger.io/specification/

Generally speaking, when a deprecated endpoint is rendered in the UI view, it's greyed/crossed out. I'm sure this isn

[2020-12-29 13:23] paulhickman-a365 opened #141 "OpenApiHttpTriggerContext.cs generates a compiler warning when using C#8 nullable reference types"
If the C#8 compiler option for nullable reference types is used (````<Nullable>enable</Nullable>```` in the csproj file) in an Azure Functions project, the template OpenApiHttpTriggerContext.cs generates a compiler warning in:

[code]
As it returns a ````string```` rather than a ````string?```` but it doesn't check and throw an exception if the value is null

[2021-01-06 21:46] kevinmillstx commented on #134
I was having this issue as well. In my situation, I had added the following to a function:

`[OpenApiResponseWithBody(statusCode: HttpStatusCode.BadRequest, contentType: _defaultContentType, bodyType: typeof(Exception), Summary = "bad request", Description = "bad request")]`

Regardless of whatever statusCode I put, I had the stack overflow when the bodyType was Exception  (System.Exception).

Rem

[2021-01-14 12:15] Cznielsen commented on #134
Is it not because the exception class is the only class that you use for generation that has circular references? In my experience, removing the circular references by creating special result classes without object references solves the stackoverflow exception, but it kinda defeats the entire point of using the automated swagger.

@justinyoo, if the classes are serialized using a Json Serializer,

[2021-01-29 14:03] justinyoo commented on #135
Related to: https://github.com/Azure/azure-functions-openapi-extension/issues/14

[2021-01-30 07:28] justinyoo commented on #139
It's because Azure Functions runtime doesn't support .NET 5 yet. What if you can downgrade it to `3.1.x` like https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Abstractions/3.1.11?

[2021-01-30 07:30] justinyoo commented on #138
The purpose of this extension is to automatically generate the `swagger.json` file.

The next release includes the ability to choose to include/exclude the `code` parameter on the querystring.

[2021-01-30 07:33] justinyoo commented on #136
@disambiguationuk @hansmbakker Let me think how it can be done. Thanks for the suggestion!

FYI - I'm thinking of retiring the `openapisettings.json`.

[2021-02-05 15:24] lcordidrocl opened #142 "default "Code" query string on all functions"
Hey, I get this parameter on requests of all my functions, and I don't know where it is coming from, since I am not specifying it with the data annotations:
  "parameters": [

      {
          "in": "query",
          "name": "code",
          "type": "string"
      }]

[2021-02-06 08:45] justinyoo commented on #110
Please check WIP at https://github.com/Azure/azure-functions-openapi-extension/issues/38

[2021-02-06 08:46] justinyoo commented on #46
Please refer to this repo: https://github.com/Azure/azure-functions-openapi-extension, where this feature has been implemented

[2021-02-06 08:46] #46 closed

[2021-02-06 08:47] justinyoo commented on #35
Please refer to https://github.com/Azure/azure-functions-openapi-extension, where it's implemented

[2021-02-06 08:47] #35 closed

[2021-02-06 08:47] justinyoo commented on #142
Please refer to https://github.com/Azure/azure-functions-openapi-extension, where it's implemented

[2021-02-06 08:47] #142 closed

[2021-02-06 08:48] justinyoo commented on #140
Please refer to https://github.com/Azure/azure-functions-openapi-extension/issues/27, for WIP

[2021-02-06 08:49] justinyoo commented on #139
Please refer to https://github.com/Azure/azure-functions-openapi-extension/issues/22, for WIP

[2021-02-06 08:51] #137 closed

[2021-02-06 08:52] justinyoo commented on #128
Please follow this https://github.com/Azure/azure-functions-openapi-extension for future update

[2021-02-06 08:52] #128 closed

[2021-02-06 08:53] justinyoo commented on #135
Please follow https://github.com/Azure/azure-functions-openapi-extension for future update

[2021-02-06 08:53] #135 closed

[2021-02-06 08:55] justinyoo commented on #116
Please follow for future WIP: https://github.com/Azure/azure-functions-openapi-extension/issues/36

[2021-02-06 08:56] justinyoo commented on #111
Please follow https://github.com/Azure/azure-functions-openapi-extension/issues/18 for future WIP

[2021-02-06 08:56] justinyoo commented on #71
Please follow https://github.com/Azure/azure-functions-openapi-extension/issues/18 for future WIP

[2021-02-06 08:58] justinyoo commented on #27
It's implemented at https://github.com/Azure/azure-functions-openapi-extension Please check this repo for future update

[2021-02-06 08:58] #27 closed

[2021-02-06 09:02] justinyoo commented on #66
Please refer to https://github.com/Azure/azure-functions-openapi-extension/issues/37 for future WIP

[2021-02-06 09:02] justinyoo commented on #43
Please refer to https://github.com/Azure/azure-functions-openapi-extension/issues/37 for future WIP

[2021-02-09 06:11] baltuonis opened #143 "Missing list item type definition"
Hi, I'm having problems with missing list item type definition.

Here goes the code:

Function
[code]

NewDataSet:
[code]

PROBLEM - in the swagger.json output, definitions section we are missing `Table` definition. I can only see `NewDataSet`
[code]

[2021-03-09 16:15] vazeline opened #144 "authentication settings"
Hi. Is it possible to add authentication settings to configuration in the same way as they exist in .net core libraries:
![image](https://user-images.githubusercontent.com/3456280/110501757-8cb18680-810b-11eb-886d-17d168272906.png)
?

[2021-03-10 00:49] justinyoo commented on #144
Related to: https://github.com/Azure/azure-functions-openapi-extension/issues/47#issuecomment-787019497

[2021-03-10 00:53] justinyoo commented on #143
@baltuonis Thanks for the issue! Can you please try this: https://github.com/Azure/azure-functions-openapi-extension, and let me know? I suspect that your `Table` property has no setter, though.

[2021-03-10 00:54] justinyoo commented on #141
Related to: https://github.com/Azure/azure-functions-openapi-extension/issues/48

@paulhickman-a365 Please try: https://github.com/Azure/azure-functions-openapi-extension

[2021-03-20 08:16] grvillic opened #145 "Resolver error for dictionary properties in swagger UI OpenApi 3.1.1"
I recently installed Aliencube Open API 3.1.1 and I keep getting a resolver error for an object that is the value of a dictionary property.

Error I see is the following:
[code]
All other definitions seem to be included just fine, but this property is never added to json definition:
[code]

FWIW I am rendering the SwaggerApiDocument using the following:
[code]

[2021-04-15 23:08] justinyoo commented on #66
@tkwin Finally it's sorted out and merged! Please have a look at: https://github.com/Azure/azure-functions-openapi-extension/pull/95

[2021-04-15 23:08] #66 closed

[2021-04-15 23:08] justinyoo commented on #43
@richardhauer Finally it's sorted out and merged! Please have a look at: https://github.com/Azure/azure-functions-openapi-extension/pull/95

[2021-04-15 23:08] #43 closed

[2021-04-15 23:08] justinyoo commented on #43
Thanks for your waiting!

[2021-04-15 23:08] justinyoo commented on #66
Thanks for your waiting!

[2021-04-15 23:10] justinyoo commented on #145
@grvillic Can you have a look at the repo here so that the same issue is happening? https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:11] justinyoo commented on #144
It's now merged. Please have a look at the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:11] #144 closed

[2021-04-15 23:12] justinyoo commented on #143
I'll close this  issue. If you still face the same problem, please raise it on the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:12] #143 closed

[2021-04-15 23:13] justinyoo commented on #141
It's merged on the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:13] #141 closed

[2021-04-15 23:13] justinyoo commented on #140
It's merged on the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:13] #140 closed

[2021-04-15 23:14] #138 closed

[2021-04-15 23:15] justinyoo commented on #136
It's now on the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:15] #136 closed

[2021-04-15 23:17] justinyoo commented on #134
Let me have a look on the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:23] justinyoo commented on #131
Thanks! From now on, please have a look at the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:23] #131 closed

[2021-04-15 23:25] justinyoo commented on #117
It's merged to the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:25] #117 closed

[2021-04-15 23:26] justinyoo commented on #120
It's merged to the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:26] #120 closed

[2021-04-15 23:28] justinyoo commented on #119
I'll start having a look soon on the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:30] justinyoo commented on #105
I'll close it for now because I don't fully understand the issue. If you still want to discuss, please try the other repo: https://github.com/Azure/azure-functions-openapi-extension

[2021-04-15 23:30] #105 closed

[2021-04-18 07:28] punthoofd07 commented on #119
Following, would like this feature as well since I have the same issue.
Thanks

[2021-04-19 12:16] Assassinbeast opened #146 "FileUpload support"
Is it possible to POST and upload a binary file?

I tried to use `[OpenApiRequestBody("application/pdf", typeof(byte[]), Required = true)]` to for example upload a pdf file, but it didn't work

For example, when i use Insomnia, i can choose the Body to be a "Binary File" which is what i want
![image](https://user-images.githubusercontent.com/6762656/115234755-b0f48000-a119-11eb-978c-46434068ff1e.p

[2021-04-19 13:30] justinyoo commented on #146
@Assassinbeast Thank for the issue! It's not supported yet, but it would be great if you have this issue on the other repo, https://github.com/Azure/azure-functions-openapi-extension for further tracking.

[2021-04-19 14:20] Assassinbeast commented on #146
Oh, thats correct. I will make the issue on that repo.

[2021-04-19 14:20] #146 closed

[2021-05-15 02:24] #111 closed

[2021-11-26 14:06] #4 closed

[2021-11-26 14:06] #14 closed

[2021-11-26 14:06] #24 closed

[2021-11-26 14:06] #71 closed

[2021-11-26 14:06] #110 closed

[2021-11-26 14:06] #116 closed

[2021-11-26 14:06] #119 closed

[2021-11-26 14:06] #126 closed

[2021-11-26 14:06] #132 closed

[2021-11-26 14:06] #133 closed

[2021-11-26 14:06] #134 closed

[2021-11-26 14:06] #139 closed

[2021-11-26 14:06] #145 closed

[2022-08-03 13:25] SaiGopal90 opened #150 "Upgrade for dependencies packages"
We were using AlienCube in our project. We identfied that current version of aliencube  is using Newtonsoft.Json library 11.0.2 which is outdated and promopted by our vulnerability scanner. Do let us know if you have thoughts to upgrade this library and publish a new version of AlienCube.

[2022-10-14 20:20] MacMcDell opened #151 "Support for isolated function and HttpRequestData over HttpRequest?"
Heya. Wondering if this library might support the HttpRequestData paradigm over HttpRequest. I am busy upgrading existing projects and ran into issue with this method needing HttpRequest
[code]

  but dotnet-isolated functions use the following signature type now...
[code]

would it be possible to add an overload of the following:
[code]

[2022-10-15 05:42] justinyoo commented on #151
Hi @MacMcDell. With regards to Azure Functions OpenAPI extension, please visit https://aka.ms/azfunc-openapi

All OpenAPI related libraries have been transferred to that repository.

[2022-10-15 05:42] #151 closed